@import '~@/styles/_mixins.scss';
@import '~@/styles/_variables.scss';
@import '~@/styles/fonts.scss';

.root-our-team-item {
  @include flex(row, flex-start, stretch);
  margin-left: 30px;
  .our-team-item {
    @include flex(column, flex-start, flex-start);
    min-width: 278px;
    color: #0A0B11;
    border-radius: 4px;
    padding-bottom: 30px;
    box-shadow:
            0 33px 63px rgba(13, 13, 13, 0.03),
            0 8.03079px 18.9927px rgba(13, 13, 13, 0.0195477),
            0 2.98872px 7.88858px rgba(13, 13, 13, 0.015),
            0 0.964869px 2.85314px rgba(13, 13, 13, 0.0104523);
    @include screen-max-width(1200px) {
      padding: 20px 0 40px;
    }
    @include screen-max-width(1024px) {
      padding: 20px 0 30px;
    }
    @include screen-max-width(1024px) {
      padding: 20px 0 40px;
    }
    @include screen-max-width(500px) {
      padding: 20px 0 40px;
    }
    img {
      margin-bottom: 34px;
    }
    .column {
      padding: 0 30px;
    }
    .title {
      @include font-style($font-family: 'Cera Pro', $font-weight: 500, $font-size: 25px, $line-height: 28px, $color: #010005);
      margin: 0 0 10px;
      @include screen-max-width(500px) {
        @include font-style($font-family: 'Cera Pro', $font-weight: 500, $font-size: 22px, $line-height: 26px, $color: #010005);
      }
    }
    .text {
      @include font-style($font-family: 'Cera Pro', $font-weight: normal, $font-size: 15px, $line-height: 19px, $color: rgba(1, 0, 5, 0.7));
    }
    .link {
      margin-top: 20px;
      ::v-deep {
        a {
          @include flex(row, flex-start, center);
          @include font-style($font-family: 'Cera Pro', $font-weight: 500, $font-size: 18px, $line-height: 23px, $color: #5825EB);
          text-transform: capitalize;
          svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            path {
              fill: #5825EB;
            }
          }
          @include screen-max-width(500px) {
            @include font-style($font-family: 'Cera Pro', $font-weight: 500, $font-size: 15px, $line-height: 19px, $color: #5825EB);
          }
        }
      }
    }
  }
}
