@import '~src/styles/mixins';
@import '~src/styles/variables';
@import '~src/styles/fonts';

.root-about-page {
  @include flex(column, flex-start, stretch);
  height: 100%;
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 9;
  overflow-x: hidden;
  padding-top: 80px;
  @include screen-max-width(600px) {
  }
  .about-page {
    @include screen-max-width(500px) {
    }
  }
}
